/* Importing Young Serif font */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/* Importing Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --stone-900: hsl(24, 5%, 18%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-100: hsl(30, 54%, 90%);

    --brown-800: hsl(14, 45%, 36%);

    --white: hsl(0, 0%, 100%);
}

.attribution { font-size: 11px; 
    text-align: center; 
    margin-top: 1em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 1956px;
    padding: 128px 48px;
    gap: 8px;

    background: var(--stone-100);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;

    width: auto;
    height: auto;

    background-color: var(--white);
    border-radius: 24px;
}

/* Card Image Area*/
.card__image {
    background: url("./assets/images/image-omelette.jpeg");
    background-size: cover;
    width: 656px;
    height: 300px;

    border-radius: 12px;

    align-self: stretch;
}

/* Card Text Header Area*/
.card__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 656px;
    height: auto;

    align-self: stretch;
}

.card__text__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 656px;
    height: auto;

    align-self: stretch;
}

.card__text__title h1 {
    width: 656px;
    height: auto;

    text-align: left;

    font-family: "Young Serif";
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    font-size: 40px;

    color: var(--stone-900);

    margin: 0px;
}

.card__text__title p {
    width: 656px;
    height: auto;

    text-align: left;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--stone-600);

    margin: 0px;
}

/* Preparation Area */
.card__text__preparation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: auto;
    height: auto;

    border-radius: 12px;
    background: var(--rose-50);

    align-self: stretch;
}

.card__text__preparation__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    margin: 0px 0px 0px 1.5em;

    width: 608px;
    height: auto;

    align-self: stretch;
}

.card__text__preparation__list__item {
    align-self: stretch;
    padding: 0px 0px 0px 16px;

    width: 608px;
    height: auto;
}

.card__text__preparation h3 {
    width: auto;
    height: auto;
    margin: 0px;

    text-align: left;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;

    color: var(--rose-800);
}

.card__text__preparation li {
    width: auto;
    height: auto;
    margin: 0px;
    
    
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--stone-600);
}

.card__text__preparation li::marker {
    color: var(--rose-800);
}

.card__text__preparation .first-word {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

/* Ingredients Area */
.card__text__ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;

    width: 656px;
    height: auto;

    align-self: stretch;
}

.card__text__ingredients__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    margin: 0px 0px 0px 2em;

    width: 656px;
    height: auto;

    align-self: stretch;
}

.card__text__ingredients__list__item {
    align-self: stretch;
    padding: 0px 0px 0px 8px;

    width: 656px;
    height: 24px;
}

.card__text__line {
    width: 656px;
    height: 0px;

    border: 1px solid var(--stone-150);
}

.card__text__ingredients h2 {
    width: auto;
    height: auto;
    margin: 0px;

    font-family: "Young Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;

    color: var(--brown-800);
}

.card__text__ingredients li {
    width: auto;
    height: auto;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--stone-600);
}

.card__text__ingredients li::marker {
    color: var(--brown-800);
}

/* Instructions Area */
.card__text__instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 656px;
    height: auto;

    align-self: stretch;
}

.card__text__instructions__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    margin: 0px 0px 0px 1.5em;
    
    width: auto;
    height: auto;

    align-self: stretch;
}

.card__text__instructions__list__item {
    align-self: stretch;
    padding: 0px 0px 0px 16px;

    width: auto;
    height: auto;
}

.card__text__instructions h2 {
    width: auto;
    height: auto;
    margin: 0px;

    font-family: "Young Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;

    color: var(--brown-800);
}

.card__text__instructions li {
    width: auto;
    height: auto;
    margin: 0px;
    
    
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--stone-600);
}

.card__text__instructions li::marker {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    color: var(--brown-800);
}

.card__text__instructions .first-word {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
/* Nutrition Area */
.card__text__nutrition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 656px;
    height: auto;

    align-self: stretch;
}

.card__text__nutrition__table__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    width: 656px;
    height: auto;
}


.card__text__nutrition__table__body__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 32px;

    width: 656px;
    height: auto;

    align-self: stretch;

}

.card__text__nutrition__table__body__row:nth-child(n+2) {
    border-top: 1px solid var(--stone-150);
    width: auto;
}

.card__text__nutrition__table__body__row__title {
    width: 288px;
    height: auto;

    text-align: left;
    margin-top: 10px;
}

.card__text__nutrition__table__body__row__detail {
    width: 288px;
    height: auto;

    text-align: left;
    margin-top: 10px;
}

.card__text__nutrition h2 {
    width: auto;
    height: auto;
    margin: 0px;

    font-family: "Young Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    text-align: left;

    color: var(--brown-800);
}

.card__text__nutrition p {
    width: auto;
    height: auto;
    margin: 0px;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;

    color: var(--stone-600);
}

.card__text__nutrition__table__body__row__title {
    height: 24px;

    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: var(--stone-600);
}

.card__text__nutrition__table__body__row__detail {
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    color: var(--brown-800);
}