/* Importing Young Serif font */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/* Importing Outfit font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --stone-900: hsl(24, 5%, 18%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-100: hsl(30, 54%, 90%);

    --brown-800: hsl(14, 45%, 36%);

    --white: hsl(0, 0%, 100%);
}

.attribution { font-size: 11px; 
    text-align: center; 
    margin-top: 1em;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 1440px;
    height: 1956px;

    padding: 128px 48px;
    gap: 8px;

    background: var(--stone-100);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;

    width: 736px;
    height: auto;
    

    background-color: var(--white);
    border-radius: 24px;
}

.card__image {
    background: url("./assets/images/image-omelette.jpeg");
    background-size: cover;
    width: auto;
    height: 300px;

    border-radius: 12px;

    align-self: stretch;
}

.card__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: auto;
    height: auto;

    align-self: stretch;
}

.card__text__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: auto;
    height: auto;

    align-self: stretch;
}

.card__text__preparation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: auto;
    height: auto;

    border-radius: 12px;
    background: var(--rose-50);

    align-self: stretch;
}

.card__text__preparation__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    margin: 0px;
    margin-left: 2em;

    width: auto;
    height: auto;

    align-self: stretch;
}

.card__text__preparation__list__item {
    align-self: stretch;
    padding: 0px 0px 0px 8px;
    gap: 16px;

    width: auto;
    height: auto;
}

.card__text__ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 0px;

    width: auto;
    height: auto;

    align-self: stretch;
}

.card__text__ingredients_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}